// .main-button {
// 	background-color: $darkgreen;
// 	color: white;
// 	border: none;
// 	text-transform: uppercase;
// 	padding: 5px 10px;
// 	font-weight: 600;
// 	@include prefixer (transition, all 0.2s ease-in-out);
// 	&:hover {
// 		background-color: $lightgreen;
// 		color: $darkgreen;
// 		cursor: pointer;
// 		transform: scale(1.01);
// 	}
// }
.btn-main{
	background-color: $mixColor;
    color: #f3efef;
    border-radius: 0;
}