$mainColor:#547483;
$subColor: #F1F1F1;
$mixColor: #b54250;
$lightGray: #d8d8d8;
$language: rtl;
$text-right: left;
$text-left: right;
$minSmall: "(min-width: 768px)";
$minmedium: "(min-width: 992px)";
$minlarge: "(min-width: 1200px)";
